In [5]:
import scrapbook as sb

In [11]:
book = sb.read_notebook('scraptest_w.ipynb')
book.scraps

Scraps([('A List',
         Scrap(name='A List', data=[1, 2, 'hello'], encoder='json', display=None)),
        ('integer',
         Scrap(name='integer', data=42, encoder='json', display=None)),
        ('float',
         Scrap(name='float', data=3.1415926, encoder='json', display=None)),
        ('mydict',
         Scrap(name='mydict', data={'First': 'Martin', 'Last': 'Hunt'}, encoder='json', display=None)),
        ('hello',
         Scrap(name='hello', data='world', encoder='text', display=None)),
        ('number',
         Scrap(name='number', data=123, encoder='json', display=None)),
        ('some_list',
         Scrap(name='some_list', data=[1, 3, 5], encoder='json', display=None)),
        ('some_dict',
         Scrap(name='some_dict', data={'a': 1, 'b': 2}, encoder='json', display=None)),
        ('array',
         Scrap(name='array', data='{"__ndarray__": [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]], "dtype": "int64", "shape": [2, 5], "Corder": true}', encoder='text', display=None))])

In [12]:
book.scrap_dataframe

,name,data,encoder,display,filename
0,A List,"[1, 2, hello]",json,None,scraptest_w.ipynb
1,integer,42,json,None,scraptest_w.ipynb
2,float,3.14159,json,None,scraptest_w.ipynb
3,mydict,"{'First': 'Martin', 'Last': 'Hunt'}",json,None,scraptest_w.ipynb
4,hello,world,text,None,scraptest_w.ipynb
5,number,123,json,None,scraptest_w.ipynb
6,some_list,"[1, 3, 5]",json,None,scraptest_w.ipynb
7,some_dict,"{'a': 1, 'b': 2}",json,None,scraptest_w.ipynb
8,array,"{""__ndarray__"": [[0, 1, 2, 3, 4], [5, 6, 7, 8,...",text,None,scraptest_w.ipynb

In [8]:
book.scraps['A List']

Scrap(name='A List', data=[1, 2, 'hello'], encoder='json', display=None)

In [10]:
book.scraps['array']

Scrap(name='array', data='{"__ndarray__": [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]], "dtype": "int64", "shape": [2, 5], "Corder": true}', encoder='text', display=None)